body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

h1, h2, h3{
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button {
  cursor: pointer;
  background-color: #3d7cc1;
  border: none;
  padding: 0.4rem 0.8rem;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.property-card, .favouritr-item{
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}
.property-card:hover, .favouritr-item:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
@media (max-width: 768px){
  .App {
    flex-direction: column !important;
  }
}